<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    
    <conversionRule conversionWord="colorlevel"
        converterClass="fr.norad.logback.prettier.ColorLevelCompositeConverter" />
    <conversionRule conversionWord="bold"
        converterClass="fr.norad.logback.prettier.BoldCompositeConverter" />
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <withJansi>true</withJansi>
        <encoder>
            <pattern><![CDATA[%boldBlue(%d{HH:mm:ss.SSS}) %colorlevel([%-5level]) %bold([%-45.45(%41C{41}:%L)]) - %colorlevel(%msg) %n]]></pattern>
        </encoder>
    </appender>

    <logger name="org.brewman.upload" level="${logback.loglevel}"/>

    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun.xml.internal.bind" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="com.mangofactory.swagger" level="WARN"/>
    <logger name="com.wordnik.swagger" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="${logback.loglevel}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
